<% content_for :title do %>About<% end %>
<h3>About Musa Ni</h3>
<p>She was born in under a mushroom cap in the deep woods. She left her woodland home for England, excelled at the University of Pixery, and served in the Royal Elf Regiment. While in service, she invented the twisted double-stack valve used in the processing of imaginatium for industrial use. She founded Müz Manufacturing, later acquired by The Very Big Corporation, to commercialize the product. Ms. Ni is now retired and lives in a sunny meadow where she raises pygmy goats.</p>
<p>Her favorite quotation is:</p>
<p>No matter where you go, there you are.</p>